<a href="https://colab.research.google.com/github/mateustsleao/cautious-giggle/blob/main/vale_20220524.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 00 - Imports

In [ ]:
## Acess repository
!git clone https://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@github.com/mateustsleao/vale-demurrage.git

Cloning into 'vale-demurrage'...
remote: Enumerating objects: 1352, done.
remote: Counting objects: 100% (26/26), done.
remote: Compressing objects: 100% (18/18), done.
remote: Total 1352 (delta 6), reused 25 (delta 5), pack-reused 1326
Receiving objects: 100% (1352/1352), 170.03 MiB | 3.76 MiB/s, done.
Resolving deltas: 100% (438/438), done.
Checking out files: 100% (1233/1233), done.

In [ ]:
import pandas as pd
import numpy as np
import math

## import seaborn as sns
## from  matplotlib import pyplot as plt

from pathlib import Path
## import os
import glob

# 02 - Get intervals

 Business Rules

  - Compare the respective month among the years.


  - Vessel number:
    - All vessels_imo's per month dataframe.
  - ETA:
    - Compare realized ETA with the Calculed.
    - calc median, variance and standard deviation. 
    - get the min and max value.
  - ETB:
    - Compare realized ETB with the Calculed.
    - calc median, variance and standard deviation. 
    - get the min and max value.
  - Quantity (Supply):
    - Aggs per porto, mÃªs e produto.
    - Compare realized with the Calculed.
    - calc median, variance and standard deviation. 
    - get the min and max value.
  - Demurrage:
    - get from (?)

In [ ]:
path_vale_folder = Path( 'vale-demurrage', 'raw_data')

In [ ]:
## when we'll have the historical data, we'll get the report by month grouped by year.

file_list = glob.glob(str(path_vale_folder) + "/cost_analysis_report*.xlsx")

excel_list = []
for file in file_list:
  file_name = file.split("/")[-1].split(".")[0]
  df = pd.read_excel(file)
  df.name = file_name
  excel_list.append(df)

## 2.1 Vessel Number

In [ ]:
vessel_numbers_values = []
vessel_numbers_keys = []
for excel_file in excel_list:
    # filtering by port ("Ponta da Madeira") and contract_type ("SPOT")
    df = excel_file
    key = str(excel_file.name.split("_")[-2])
    df = df.loc[df["Origin Port"] == "Ponta da Madeira"]
    df = df.loc[df["Contract Type"] == "SPOT"]

    # get vessel numbers
    vessel_numbers_values.append(len(df["Vessel IMO"]))
    vessel_numbers_keys.append(key)

df_vessel = pd.DataFrame([ vessel_numbers_keys, vessel_numbers_values], index = ["month", "value"] )
df_vessel = df_vessel.sort_index(axis=1).T

print(df_vessel)

# Statistical values
vessel_median = df_vessel.groupby('month').median()
vessel_var    = df_vessel.groupby('month').var()
vessel_min    = df_vessel.groupby('month').min()
vessel_max    = df_vessel.groupby('month').max()
vessel_mean   = df_vessel.groupby('month').mean()
vessel_std    = df_vessel.groupby('month').std()


vessel_median = vessel_median.rename(columns = {'value': 'median'})
vessel_var    = vessel_var.rename(columns = {'value': 'var'})
vessel_min    = vessel_min.rename(columns = {'value': 'min'})
vessel_max    = vessel_max.rename(columns = {'value': 'max'})
vessel_mean   = vessel_mean.rename(columns = {'value': 'mean'})
vessel_std    = vessel_std.rename(columns = {'value': 'std'})

   month value
0     08    95
1     09   136
2     11    99
3     07   188
4     12    92
5     09   147
6     07   175
7     08   134
8     10   117
9     12    97
10    09   148
11    12    79
12    11   104
13    12    93
14    08   148
15    07   171
16    09   152
17    11    99
18    09   148
19    07   181
20    11    93
21    08    79

In [ ]:
vessel_median

       median
month
07      178.0
08      114.5
09      148.0
10      117.0
11       99.0
12       92.5

In [ ]:
vessel_var

               var
month
07       54.916667
08     1047.333333
09       36.200000
10             NaN
11       20.250000
12       60.916667

In [ ]:
vessel_min

       min
month
07     171
08      79
09     136
10     117
11      93
12      79

In [ ]:
vessel_max

       max
month
07     188
08     148
09     152
10     117
11     104
12      97

In [ ]:
vessel_mean

         mean
month
07     178.75
08     114.00
09     146.20
10     117.00
11      98.75
12      90.25

In [ ]:
vessel_std

             std
month
07      7.410578
08     32.362530
09      6.016644
10           NaN
11      4.500000
12      7.804913

## 2.2 ETA

In [ ]:
# get planed_eta from SOAN
planned_eta_values = []

for excel_file in excel_list:
    # filtering by port ("Ponta da Madeira") and contract_type ("SPOT")
    df_plan_eta = excel_file
    key = str(excel_file.name.split("_")[-2])
    df_plan_eta = df_plan_eta.loc[df_plan_eta["Origin Port"] == "Ponta da Madeira"]
    df_plan_eta = df_plan_eta.loc[df_plan_eta["Contract Type"] == "SPOT"]
    df_plan_eta['Shipment Number'] = df_plan_eta['Shipment No.'].apply(lambda x : x.replace(" ", "/"))
    df_plan_eta['Shipment Number'] = df_plan_eta['Shipment Number'].astype(np.dtype('U'))
    df_plan_eta['calculed_origin_eta'] = df_plan_eta["Origin ETA"]
    df_plan_eta = df_plan_eta[['Shipment Number', 'calculed_origin_eta']]
    planned_eta_values.append(df_plan_eta)


planned_eta_values[0].shape

(95, 2)

In [ ]:
# get executed_eta
path_sc = Path('vale-demurrage', 'Realizado - Operations Desk','Shipment Cargoes.xlsx')
df_sc_raw = pd.read_excel(path_sc)
df_rls_sc = df_sc_raw

df_rls_sc = df_rls_sc.loc[df_rls_sc['Origin Port'] == 'Ponta da Madeira']
df_rls_sc['executed_origin_eta'] = df_rls_sc["Origin ETA"]

df_rls_sc['Shipment Number'] = df_rls_sc['Shipment Number'].astype(np.dtype('U'))
df_rls_sc = df_rls_sc[["Shipment Number", "executed_origin_eta"]]

df_rls_sc.shape

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

(4968, 2)

In [ ]:
# dif between planed_eta and executed
df_difs_eta = []
for planned_eta_value in planned_eta_values:
  df_dif_eta = pd.concat([planned_eta_value, df_rls_sc], ignore_index=True)
  df_difs_eta.append(df_dif_eta)

df_difs_eta[0]

     Shipment Number calculed_origin_eta executed_origin_eta
0         2021/13263 2021-08-14 20:00:00                 NaT
1         2021/13091 2021-08-15 18:00:00                 NaT
2        2021/113404 2021-10-23 03:42:03                 NaT
3        2021/113406 2021-10-03 04:20:49                 NaT
4        2021/113648 2021-11-10 02:00:00                 NaT
...              ...                 ...                 ...
5058      2022/10863                 NaT 2022-06-24 00:00:00
5059      2022/10882                 NaT 2022-04-30 08:00:00
5060      2022/10882                 NaT 2022-04-30 08:00:00
5061      2022/10891                 NaT 2022-06-05 00:00:00
5062      2022/10898                 NaT 2022-06-30 00:00:00

[5063 rows x 3 columns]

In [ ]:
 # statistical_values

## 2.3 ETB

In [ ]:
# get planed_eta from SOAN
planned_etb_values = []

for excel_file in excel_list:
    # filtering by port ("Ponta da Madeira") and contract_type ("SPOT")
    df_plan_etb = excel_file
    key = str(excel_file.name.split("_")[-2])
    df_plan_etb = df_plan_etb.loc[df_plan_etb["Origin Port"] == "Ponta da Madeira"]
    df_plan_etb = df_plan_etb.loc[df_plan_etb["Contract Type"] == "SPOT"]
    df_plan_etb['Shipment Number'] = df_plan_etb['Shipment No.'].apply(lambda x : x.replace(" ", "/"))
    df_plan_etb['Shipment Number'] = df_plan_etb['Shipment Number'].astype(np.dtype('U'))
    df_plan_etb['calculed_origin_etb'] = df_plan_etb["Origin ETB"]
    df_plan_etb = df_plan_etb[['Shipment Number', 'calculed_origin_etb']]
    planned_etb_values.append(df_plan_etb)


planned_etb_values[0].shape

(95, 2)

In [ ]:
# get executed_eta
path_sc = Path('vale-demurrage', 'Realizado - Operations Desk','Shipment Cargoes.xlsx')
df_sc_raw = pd.read_excel(path_sc)
df_rls_sc = df_sc_raw

df_rls_sc = df_rls_sc.loc[df_rls_sc['Origin Port'] == 'Ponta da Madeira']
df_rls_sc['executed_origin_etb'] = df_rls_sc["Origin ETB"]

df_rls_sc['Shipment Number'] = df_rls_sc['Shipment Number'].astype(np.dtype('U'))
df_rls_sc = df_rls_sc[["Shipment Number", "executed_origin_etb"]]

df_rls_sc.shape

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

(4968, 2)

In [ ]:
# dif between planed_eta and executed
df_difs_etb = []
for planned_etb_value in planned_etb_values:
  df_dif_etb = pd.concat([planned_etb_value, df_rls_sc], ignore_index=True)
  df_difs_etb.append(df_dif_etb)

df_difs_etb[0]

     Shipment Number calculed_origin_etb executed_origin_etb
0         2021/13263 2021-08-26 10:34:00                 NaT
1         2021/13091 2021-09-04 01:46:00                 NaT
2        2021/113404 2021-10-26 03:42:03                 NaT
3        2021/113406 2021-10-06 04:20:49                 NaT
4        2021/113648 2021-11-13 02:00:00                 NaT
...              ...                 ...                 ...
5058      2022/10863                 NaT 2022-06-30 04:40:00
5059      2022/10882                 NaT 2022-05-13 05:46:00
5060      2022/10882                 NaT 2022-05-13 05:46:00
5061      2022/10891                 NaT 2022-06-05 19:44:00
5062      2022/10898                 NaT 2022-07-09 16:01:00

[5063 rows x 3 columns]

## 2.4 Quantity

In [ ]:
# calculed - Input: Amount â coluna H 
# realized - Shipment cargoes: Quantity â coluna AD 
# no primary_key between then.

## 2.5 Demurrage

In [ ]:
# calculed - Cost analysis - Column AA (Demurrage ($/t))
# realized - demurrage-brasil - Column (?)

# 3.0 Function Objective

In [ ]:
# Set use case
  # Ex: Use case 1 - min and max absolute
  # Ex: Use case 2 - mean and std - min and max

# Apply pay-off matrix

# set indicators

# choose the robust scenario

# Inputs Soan

> Bloco com recuo